.outer {
  display: block;
  text-align: center;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
}

.center {
  text-align: center;
  display: block;
  margin: auto;
  width: 60%;
}